html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    font-family: 'Segoe UI', sans-serif;
    color: white;
    text-align: center;
    padding-top: 60px;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-size: 3rem;
    font-weight: bold;
}

h4 {
    margin-bottom: 50px;
    opacity: 0.8;
}

table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 40px 0;
}

#Buyer, 
#seller {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    padding: 40px;
    width: 500px;
    border-radius: 20px;
    transition: 0.3s ease;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    height: 300px;
    padding-top: 80px;
    
}

#Buyer:hover, 
#seller:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 255, 255, 0.3);
}

button {
    margin-top: 20px;
    width: 120px;
}