body{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    font-family: Arial, Helvetica, sans-serif;
}

form div{
    width:400px;
    padding:30px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
     background: rgba(251, 229, 229, 0.1);
    backdrop-filter: blur(10px);

    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    color: white;
}

input, textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:14px;
}

textarea{
    resize:none;
    height:80px;
}

button{
    width:100%;
    padding:10px;
    border-radius:6px;
    font-weight:600;
}